Types: deb
URIs: https://snapshot.debian.org/archive/debian/{{ debian_timestamp }}/
Suites: {{ suite }} {{ suite }}-updates
Components: main
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
Check-Valid-Until: no

Types: deb
URIs: https://snapshot.debian.org/archive/debian-security/{{ security_timestamp }}/
Suites: {{ suite }}-security
Components: main
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
Check-Valid-Until: no
